@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.container {
  font-family: "Kavoon", serif;
}
  
h1 {
  font-family: "Kavoon", serif;
  color: #3C144A;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  letter-spacing: 1.75px;
}

.box {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Arrange items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
    }

.row {
    margin:auto;
    padding: 5px;
  
}

  
  