
  .rulesbox {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px; 
    margin: 40px 20px 20px 20px;
    display: flex; 
    flex-direction: column;    
    align-items: center;
    background: linear-gradient(to bottom, rgb(247, 247, 175) 30%, rgb(248, 165, 248) 70%);
    transform: translateY(-60px);
}
  .rulescontainer {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    font-family: "Pixelify Sans", sans-serif;
    

}

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
   
    }
    h1, h2 {
      text-align: center;  
    }