@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Happy Monkey", system-ui;
  font-size: 1.2rem;
  font-weight: 400;
}

.container, .menuOptions {
  display: flex;
  align-items: flex-start;
}

.container, .menuOptions {
  margin: 2rem;
}

.container {
  flex-direction: row;
  justify-content: center;
}

.menuOptions {
  flex-direction: column;
  justify-content: space-between;
}

.lvlStructure {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 25px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: min-content;
}

.game_score {
  grid-column: 5 / 6;
  grid-row: 1 / 2; 
}
.game_exit {
  grid-column: 1 / 2;
  grid-row: 5 / 6; 
}

.cell {

  &.bomb {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &.one, &.two, &.three {
    grid-row: 2 / 3;
  }
  &.four, &.five, &.six {
    grid-row: 3 / 4;
  }
  &.seven, &.eight, &.nine {
    grid-row: 4 / 5;
  }
  &.one, &.four, &.seven {
    grid-column: 2 / 3;
  }
  &.two, &.five, &.eight {
    grid-column: 3 / 4;
  }
  &.three, &.six, &.nine{
    grid-column: 4 / 5;
  }
}

p {
  margin: 2rem;
}


footer {
  background-color: gray;
  padding: 1rem;
  width: 100vh;
  height: 5rem;
  margin: 2rem;
}
.Bomb {
  z-index: 2;
}

.reuse-btn, .reuse-cell {
  border-radius: 20px;
  border: 0px;
  font-family: "Happy Monkey", system-ui;  
  border-bottom: 7px solid #AC439B;
  background: linear-gradient(180deg, #FFEF9B 0%, #FF83EB 100%);
  box-shadow: 0px 0px 0px 3px #000;
  font-size: 28px;
  color: white;
  outline: none; 
}

.reuse-btn {
  min-width: 420px;
  min-height: 100px;
  
}
.reuse-cell {
  min-width: 150px;
  min-height: 150px;
}

.reuse-btn:hover {
  transition: 0.5s;
}
.reuse-cell:hover {
  transition: 0.5s;
}
.reuse-btn:hover, .reuse-cell:hover, .reuse-bomb:hover {
  transform: translateY(-4px);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30));
  transition: 0.5s;
}

.reuse-btn:active, .reuse-cell:active {
  border-bottom-color: #a23d91;
  background: linear-gradient(180deg, #d3c375 0%, #d76dc6 100%);
}
.reuse-btn:active, .reuse-cell:active, .reuse-bomb:active {
  transform: translateY(2px);
  transition: 0.3s;
}

.name {
  color: purple;
}