@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Happy Monkey", system-ui;
  font-size: 1.2rem;
  font-weight: 400;
}

.container, .menuOptions {
  display: flex;
  align-items: center;
}

.container, .menuOptions {
  margin: 2rem;
  flex-direction: column;
}

.container {
  justify-content: center;
}

.menuOptions {
  justify-content: space-between;
}

.lvlStructure {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 570px;
}

.cell {
  &.bomb {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &.one, &.two, &.three {
    grid-row: 1 / 2;
  }
  &.four, &.five, &.six {
    grid-row: 2 / 3;
  }
  &.seven, &.eight, &.nine {
    grid-row: 3 / 4;
  }
  &.one, &.four, &.seven {
    grid-column: 1 / 2;
  }
  &.two, &.five, &.eight {
    grid-column: 2 / 3;
  }
  &.three, &.six, &.nine{
    grid-column: 3 / 4;
  }
}

p {
  margin: 2rem;
}

button {
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: black;
  color: white;
  outline: none;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: black;
}

footer {
  background-color: gray;
  padding: 1rem;
  width: 100vh;
  height: 5rem;
  margin: 2rem;
}
.Bomb {
  z-index: 2;
}

.reuse-btn {
  z-index: 1;
  min-width: 150px;
  min-height: 150px;
  margin: 20px;
  border-radius: 20px;
  border: 0px;
  font-family: "Happy Monkey", system-ui;  
  border-bottom: 7px solid #AC439B;
  background: linear-gradient(180deg, #FFEF9B 0%, #FF83EB 100%);
  box-shadow: 0px 0px 0px 3px #000;
  font-size: 28px;
  color: white;
  outline: none;
  
}

.reuse-btn:hover {
  transition: 0.5s;
}
.reuse-btn:active {
  border-bottom-color: #a23d91;
  background: linear-gradient(180deg, #d3c375 0%, #d76dc6 100%);
}
.reuse-btn:active, .reuse-bomb:active {
  transform: translateY(2px);
  transition: 0.3s;
}

.name {
  color: purple;
}