@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Happy Monkey", system-ui;
  font-size: 1.2rem;
  font-weight: 400;
}

.container, .menuOptions {
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  justify-content: center;
}

.menuOptions {
  justify-content: space-between;
}

p {
  margin: 2rem;
}

button {
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: black;
  color: white;
  outline: none;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: black;
}

footer {
  background-color: gray;
  padding: 1rem;
  width: 100vh;
  height: 5rem;
  margin: 2rem;
}

.reuse-btn {
  min-width: 280px;
  min-height: 90px;
  margin: 20px;
  border-radius: 20px;
  border: 0px;
  font-family: "Happy Monkey", system-ui;  
  border-bottom: 7px solid #AC439B;
  background: linear-gradient(180deg, #FFEF9B 0%, #FF83EB 100%);
  box-shadow: 0px 0px 0px 3px #000;
  font-size: 28px;
  color: white;
  outline: none;
  
}

.reuse-btn:hover {
  min-width: 285px;
  min-height: 100px;
  transition: 0.5s;
}
.reuse-btn:active {
  border-bottom-color: #a23d91;
  background: linear-gradient(180deg, #d3c375 0%, #d76dc6 100%);
  transform: translateY(2px);
}

.name {
  color: purple;
}